@model MyLogin


<h2>Login to this cool site!</h2>

<form asp-action="userLogin" asp-controller="Home" method="post">
    <span asp-validation-for="LEmail"></span>
    <label asp-for="LEmail"></label>
    <input asp-for="LEmail"><br>
    <span asp-validation-for="LPassword"></span>
    <label asp-for="LPassword"></label>
    <input asp-for="LPassword"><br>

    <input value="Log In" type="submit">
</form>